<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
          crossorigin="anonymous">

    <title th:text="${questName}"/>
    <link rel="shortcut icon" type="images/svg" th:href="@{/images/quest.svg}"/>
</head>
<body>
    <div th:insert="~{fragments/header :: header(questName=${questName},
        onClickConfirm=${currentStep != null && !currentStep.isFinal()})}"/>

    <div class="container d-flex flex-column">
        <p th:if="${currentStep != null && currentStep.getPreviousChoiceDescription() != null
           && !currentStep.getPreviousChoiceDescription().isEmpty()}"
           th:text="'Ты выбрал: ' + ${currentStep.getPreviousChoiceDescription()}"/>

        <p th:text="${currentStep != null ? currentStep.getDescription() : 'Ничего не происходит...'}"/>

        <div th:if="${currentStep != null && currentStep.isFinal()}">
            <span th:if="${currentStep.isPositiveFinal()}" class="badge text-bg-success rounded-pill">Положительный исход!</span>
            <span th:if="${currentStep.isNegativeFinal()}" class="badge text-bg-danger rounded-pill">Отрицательный исход!</span>
            <span th:if="${currentStep.isNeutralFinal()}" class="badge text-bg-secondary rounded-pill">Нейтральный исход.</span>
        </div>

        <div th:if="${currentStep == null || currentStep.isFinal()}">
            <a style="margin:10px" href="/" class="btn btn-primary">В начало</a>
        </div>

        <form th:unless="${currentStep == null || currentStep.isFinal()}" th:action="@{/nextStep}">
            <input type="hidden" th:value="${currentStep.getId()}" th:name="stepId"/>
            <table>
                <tr th:each="choice, iter : ${currentStep.getChoices()}" >
                    <td>
                        <div style="margin:10px">
                            <input th:id="'choice'+ ${iter.index}" th:name="choiceId" th:value="${iter.index}"
                                   th:required="required"
                                   type="radio"/>
                            <label th:for="'choice'+ ${iter.index}" th:text="${choice.getDescription()}"/>
                        </div>
                    </td>
                </tr>
            </table>
            <button style="margin:10px" class="btn btn-primary" type="submit">Выбрать</button>
        </form>
    </div>
</body>
</html>
