<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
        crossorigin="anonymous">

  <title>Ошибка</title>
  <link rel="shortcut icon" type="images/png" th:href="@{/images/quest.png}"/>
</head>
<body>
  <div th:insert="~{fragments/header :: header(questName=${null}, onClickConfirm=${false})}"/>

  <div class="container d-flex flex-column">
    <h4 th:text="${message}"/>
    <h6 th:if="${status != null}" th:text="'HTTP Status: ' + ${status}"/>
    <h6 th:if="${exception != null}" th:text="'Exception: ' + ${exception}"/>
    <div>
      <a style="margin:10px" href="/" class="btn btn-primary">В начало</a>
    </div>
  </div>
</body>
</html>
